.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 49, 202);
    padding: 10px 20px;
}
    .navbar-left {
        display: flex;
        align-items: center;
    }
    .navbar-logo {
        height: 30px;
        margin-right: 10px;
    }
    .navbar-title {
        color: white;
    }
    .navbar-button {
        text-decoration: none;
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 10px;
        margin: left;
        cursor: pointer;
        border-radius: 5px;
    }
    .navbar-button2 {
        text-decoration: none;
        background-color: rgb(210, 210, 12);
        color: black;
        border: none;
        padding: 10px 30px;
        margin: left;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
    }
    .navbar-hover {
        background-color: #777;
}