.about-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.top-container {
    /* background-image: src; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
    color: white;
}
.about-title {
    background-color: rgba(0, 0, 0, 0.5); 
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.about-description {
    max-width: 800px;
    padding: 20px;
    margin: 20px auto; 
    text-align: left;
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    background-color: #65869f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-description p {
    margin: 0;
}