body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9DB2BF;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    width: 100%;
    margin-bottom: 30px;
}

.left img {
    width: 100%;
    border-radius: 10px;
}

.right {
    width: 100%;
    margin-bottom: 30px;
}

.right h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.right h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.right p, .right a {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contact-form label {
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #27375D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #223153;

}

.map-container {
    width: 100%;
    margin-top: 30px;
}

.map-container h3 {
    font-size: 28px;
    margin-bottom: 20px;
    
}

iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .left, .right, .map-container {
        width: 45%;
    }

    .map-container {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .left, .right, .map-container {
        width: 100%;
    }
}
